
.navbar-banner {
    font-weight: bolder;
    padding: 0;
    text-shadow: 1px 1px 1px #888;
}

html,
body {
    font-family: cursive;
    height: 100%;
    margin: -.1em .1em;
}

wrapper {
    display: table;
    height: 100%;
    margin: 0 auto;
    width: 95%;
}

content {
    display: table-row;
    height: 100%;
    margin: 0 auto;
    width: 95%;
}

footer {
    border-top: solid thin #333;
    font-size: 75%;
    text-align: center;
}

ul.navbar {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

ul.navbar li {
    float: left;
}

.align-right {
    float: right;
}

ul.navbar li a:not(.img) {
    display: block;
    text-align: center;
    padding: 1em .5em;
    text-decoration: none;
    color: #fff;
}

ul.navbar li a.disabled {
    cursor: default;
}

ul.navbar li a:not(.disabled):hover {
    background-color: #333;
}

.login-form label {
    padding: 1em;
    margin: .2em;
    display: inline-block;
}

.login-form input {
    padding: .5em;
    margin: .2em;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #feffa2;
    border: 1px dotted #ddd;
}

.login-form input[type=submit], input[type=button] {
    background-color: #000;
    color: #fff;
}

.login-form input[type=submit]:hover, input[type=button]:hover {
    background-color: #333;
    color: #fff;
}

/*input[type=submit]:not(.login-form) {*/
/*background: url("/img/done.png") no-repeat;*/
/*}*/

.login-form {
    border-radius: 5px;
    border: 2px #333 solid;
    position: absolute;
    right: 3%;
}

table:not(.input-form) {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    /*border: solid 2px #333;*/
}

table.nth tr {
    background-color: #dfd;
}

th, td {
    text-align: left;
    padding: .5em;
}

td a {
    color: black;
    text-decoration: none;
    display: block;
    overflow: hidden;
}

table.nth tr:nth-child(even) {
    background-color: #efe;
}

th {
    background-color: #393;
    color: white;
}

.input-form table {
    margin: 0 auto;
    border: solid 2px #333;
    /*border-radius: 5px;*/
    border-collapse: collapse;
    width: auto;
}

.input-form input[type=text], input[type=number], select {
    padding: .5em 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    width: 8em;
    background-color: #feffa2;
    border: 1px dotted #ddd;
}

.input-form input[type=image] {
    opacity: 1;
    transform: scale(.5);
}

.input-form input[type=image]:hover {
    opacity: .6;
    transform: scale(.5);
}

.message {
    margin: .5em auto;
    padding: 1em;
    background-color: khaki;
    border-radius: 5px;
    cursor: pointer;
}

.img {
    opacity: .7;
    position: relative;
    top: 10px;
    margin: 5px;
}

.img:hover {
    opacity: .9;
}

.button-img {
    opacity: 1;
    transform: scale(.5);
}

.button-img:hover {
    opacity: .5;
}

.align-center {
    margin: 0 50%;
}

div.img-banner {
    align-content: center;
}

